<div id="landingContainer" style="display: none;">
    <div id="upper">
        <div id="left">
        </div>
        <div id="content">
        </div>
        <div id="right">
            <div id="rightContainer">
                <div id="image_seal_container">
                    <!--<img id="image_seal" src="assets/images/SealCircle.png"/>-->
                    <div id="updateAvailableTooltip">Mise à jour disponible</div>
                </div>
                <div id="user_content">
                    <span id="user_text">Nom d'utilisateur</span>
                    <div id="avatarContainer">
                        <button id="avatarOverlay">Editer</button>
                    </div>
                </div>
                <div id="mediaContent">
                    <div id="internalMedia">
                        <div class="mediaContainer" id="settingsMediaContainer">
                            <button class="mediaButton" id="settingsMediaButton">
                                <svg id="settingsSVG" class="mediaSVG" viewBox="0 0 141.36 137.43">
                                    <path d="M70.70475616319865,83.36934004916053 a15.320781354859122,15.320781354859122 0 1 1 14.454501310561755,-15.296030496450625 A14.850515045097694,14.850515045097694 0 0 1 70.70475616319865,83.36934004916053 M123.25082856443602,55.425620905968366 h-12.375429204248078 A45.54157947163293,45.54157947163293 0 0 0 107.21227231573047,46.243052436416285 l8.613298726156664,-9.108315894326587 a9.727087354538993,9.727087354538993 0 0 0 0,-13.167456673319956 l-3.465120177189462,-3.6631270444574313 a8.489544434114185,8.489544434114185 0 0 0 -12.375429204248078,0 l-8.613298726156664,9.108315894326587 A40.442902639482725,40.442902639482725 0 0 0 81.99114759747292,25.427580514871032 V12.532383284044531 a9.108315894326587,9.108315894326587 0 0 0 -8.811305593424633,-9.306322761594556 h-4.950171681699231 a9.108315894326587,9.108315894326587 0 0 0 -8.811305593424633,9.306322761594556 v12.895197230826497 a40.17064319698927,40.17064319698927 0 0 0 -9.331073620003052,4.0591407789933704 l-8.613298726156664,-9.108315894326587 a8.489544434114185,8.489544434114185 0 0 0 -12.375429204248078,0 L25.58394128451018,23.967279868769744 a9.727087354538993,9.727087354538993 0 0 0 0,13.167456673319956 L34.19724001066683,46.243052436416285 a45.07131316187151,45.07131316187151 0 0 0 -3.6631270444574313,9.083565035918088 h-12.375429204248078 a9.083565035918088,9.083565035918088 0 0 0 -8.811305593424633,9.306322761594556 v5.197680265784193 a9.108315894326587,9.108315894326587 0 0 0 8.811305593424633,9.306322761594556 h11.979415469712139 a45.69008462208391,45.69008462208391 0 0 0 4.0591407789933704,10.642869115653347 l-8.613298726156664,9.108315894326587 a9.727087354538993,9.727087354538993 0 0 0 0,13.167456673319956 l3.465120177189462,3.6631270444574313 a8.489544434114185,8.489544434114185 0 0 0 12.375429204248078,0 l8.613298726156664,-9.108315894326587 a40.49240435629971,40.49240435629971 0 0 0 9.331073620003052,4.0591407789933704 v12.895197230826497 a9.083565035918088,9.083565035918088 0 0 0 8.811305593424633,9.306322761594556 h4.950171681699231 A9.083565035918088,9.083565035918088 0 0 0 81.99114759747292,123.68848839660077 V110.79329116577425 a40.78941465720167,40.78941465720167 0 0 0 9.331073620003052,-4.0591407789933704 l8.613298726156664,9.108315894326587 a8.489544434114185,8.489544434114185 0 0 0 12.375429204248078,0 l3.465120177189462,-3.6631270444574313 a9.727087354538993,9.727087354538993 0 0 0 0,-13.167456673319956 l-8.613298726156664,-9.108315894326587 a45.665333763675406,45.665333763675406 0 0 0 4.034389920584874,-10.642869115653347 h12.004166328120636 a9.108315894326587,9.108315894326587 0 0 0 8.811305593424633,-9.306322761594556 v-5.197680265784193 a9.083565035918088,9.083565035918088 0 0 0 -8.811305593424633,-9.306322761594556 " id="svg_3" class=""/>
                                </svg>
                            </button>
                            <div id="mediaSVGTooltip">Paramètres</div>
                        </div>
                        <div class="mediaContainer" id="settingsMediaContainer">
                            <button class="mediaButton" id="refreshMediaButton">
                                <svg id="refreshSVG" class="mediaSVG" viewBox="0 0 515.556 515.556">
                                    <path d="m418.889 290c0 88.832-72.28 161.111-161.111 161.111s-161.111-72.279-161.111-161.111c0-77.798 55.445-142.882 128.889-157.855v61.188l96.667-96.667-96.667-96.666v67.017c-109.124 15.718-193.334 109.578-193.334 222.983 0 124.373 101.182 225.556 225.556 225.556s225.556-101.182 225.556-225.556z" id="svg_4" class=""/>
                                </svg>
                            </button>
                            <div id="mediaSVGTooltip">Rafraichir le launcher</div>
                        </div>
                        <div class="mediaContainer" id="settingsMediaContainer">
                            <button class="mediaButton" id="openInstanceMediaButton">
                                <svg id="openInstanceSVG" class="mediaSVG" viewBox="0 0 198.084 198.084">
                                    <g>
                                        <path d="M197.951,77.097l-16.024,78.532c-1.222,5.987-6.488,10.288-12.599,10.288H20.196c-8.135,0-14.225-7.459-12.599-15.429
	L21.94,80.197c1.29-6.32,6.849-10.859,13.299-10.859h150.14h6.237c3.068,0,5.558,2.11,6.266,4.856
	C198.117,75.109,198.155,76.094,197.951,77.097z M12.142,78.198c2.23-10.928,11.943-18.86,23.097-18.86h150.076
	c-0.6-5.713-5.444-10.181-11.314-10.181H94.819c-1.605-9.628-9.995-16.989-20.07-16.989H13.35C5.989,32.167,0,38.156,0,45.517
	v92.186L12.142,78.198z"/>
                                    </g>
                                </svg>
                            </button>
                            <div id="mediaSVGTooltip">Ouvrir le dossier du Modpack</div>
                        </div>
                    </div>
                    <div class="mediaDivider"></div>
                    <div id="externalMedia">
                        <div class="mediaContainer" style=<%= (WEBSITE_ENABLE) ? 'display:flex':'display:none' %>>
                            <a href="<%= WEBSITE_URL %>" class="mediaURL" id="linkURL">
                                <svg id="linkSVG" class="mediaSVG" x="0px" y="0px" viewBox="0 0 1000 1000" >
                                    <g><path d="M599.4,17C568,10,536.6,6.5,501.7,6.5c-34.9,0-66.3,3.5-97.7,10.5C177.4,62.3,10,261.1,10,498.3c0,101.1,31.4,191.8,83.7,272c14,17.4,27.9,38.4,41.9,55.8c69.8,76.7,163.9,132.5,268.5,156.9c31.4,7,62.8,10.5,97.7,10.5c34.9,0,66.3-3.5,97.7-10.5c104.6-20.9,198.8-76.7,268.5-156.9c3.5-3.5,7-7,10.5-14C948.1,728.4,990,616.8,990,498.3C990,261.1,822.6,62.3,599.4,17z M864.4,285.5c34.9,59.3,55.8,125.6,59.3,198.8H784.2c0-69.8-10.5-136-27.9-198.8C756.3,282,864.4,282,864.4,285.5z M812.1,215.8h-80.2c-14-34.9-31.4-69.8-52.3-97.7C728.4,142.5,773.8,173.9,812.1,215.8z M536.6,79.8c3.5,0,7,0,14,0c41.9,31.4,80.2,76.7,108.1,136H536.6V79.8z M536.6,285.5h150c20.9,59.3,31.4,129,31.4,198.8H536.6C536.6,480.8,536.6,285.5,536.6,285.5z M714.5,554.1c-7,73.2-20.9,139.5-45.3,198.8H536.6V554.1C536.6,550.6,714.5,550.6,714.5,554.1z M285.5,554.1h177.9v198.8H330.9C309.9,693.6,292.5,627.3,285.5,554.1z M285.5,484.3c0-69.8,14-139.5,31.4-198.8h150v198.8H285.5z M452.9,79.8c3.5,0,7,0,14,0v136H344.8C372.7,160,407.6,111.1,452.9,79.8z M320.4,118.1c-20.9,27.9-38.4,62.8-52.3,97.7h-80.2C226.2,173.9,271.6,142.5,320.4,118.1z M139,285.5h108.1c-17.4,62.8-27.9,129-27.9,195.3H79.8C83.2,411.1,104.2,344.8,139,285.5z M83.2,554.1h132.5c3.5,69.8,20.9,139.5,41.9,198.8h-90.7C121.6,697,93.7,630.8,83.2,554.1z M233.2,819.1H289c10.5,20.9,20.9,38.4,31.4,55.8C289,864.4,261.1,847,233.2,819.1z M452.9,916.8c-31.4-24.4-59.3-55.8-83.7-94.2h97.7v94.2C459.9,916.8,456.4,916.8,452.9,916.8z M547.1,916.8c-3.5,0-7,0-14,0v-94.2h97.7C606.4,861,578.5,888.9,547.1,916.8z M679.6,878.4c10.5-17.4,20.9-34.9,31.4-55.8h55.8C738.9,847,711,864.4,679.6,878.4z M833.1,749.4h-90.7c20.9-59.3,38.4-129,41.8-198.8h132.5C906.3,630.8,878.4,697,833.1,749.4z"/></g>
                                </svg>
                            </a>
                            <div id="mediaSVGTooltip">Site Web</div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="lower">
        <div id="left">
            <div class="bot_wrapper">
                <div id="content">
                    <div id="mojangStatusWrapper">
                        <span class="bot_label">MOJANG STATUS</span>
                        <span id="mojang_status_icon">&#8226;</span>
                        <div id="mojangStatusTooltip">
                            <div id="mojangStatusTooltipTitle">Services</div>
                            <div id="mojangStatusEssentialContainer">
                                <!-- Essential Mojang services are populated here. -->
                            </div>
                            <div id="mojangStatusNEContainer">
                                <div class="mojangStatusNEBar"></div>
                                <div id="mojangStatusNETitle">Non&nbsp;Essentiels</div>
                                <div class="mojangStatusNEBar"></div>
                            </div>
                            <div id="mojangStatusNonEssentialContainer">
                                <!-- Non Essential Mojang services are populated here. -->
                            </div>
                        </div>
                    </div>
                    <div class="bot_divider_status"></div>
                    <div id="modrealmsStatusWrapper">
                    <div id="serverplayers">
                        <span class="bot_label" id="landingPlayerLabel">SERVEUR</span>
                        <span id="player_count">HORS-LIGNE</span>
                        <div id="serverStatusTooltip">

                        </div>
                    </div>
                        <span id="modrealms_status_icon">&#8226;</span>
                    </div>
                </div>
            </div>
        </div>
        <div id="center">
            <div class="bot_wrapper">
                <div id="content">
                    <button id="newsButton">
                        <!--<img src="assets/images/icons/arrow.svg" id="newsButtonSVG"/>-->
<!--                        <div id="newsButtonAlert" style="display: none;">-->
<!--                            <span id="newsButtonAlertText">Actualités !</span>-->
<!--                        </div>-->
                        <svg id="newsButtonSVG" viewBox="0 0 24.87 13.97">
                            <defs>
                                <style>.arrowLine{fill:none;stroke:#FFF;stroke-width:2px;}</style>
                            </defs>
                            <polyline class="arrowLine" points="0.71 13.26 12.56 1.41 24.16 13.02"/>
                        </svg>
                        &#10;<span id="newsButtonText">ACTUALITÉS</span>
                    </button>
                </div>
            </div>
        </div>
        <div id="right">
            <div class="bot_wrapper">
                <div id="launch_content">
                    <button id="launch_button">JOUER</button>
                    <button id="server_selection_button" class="bot_label">&#8226; Aucun serveur sélectionner</button>
                </div>
                <div id="launch_details">
                    <div id="launch_details_left">
                        <span id="launch_progress_label">0%</span>
                    </div>
                    <div id="launch_details_right">
                        <progress id="launch_progress" value="22" max="100"></progress>
                        <span id="launch_details_text" class="bot_label">Chargement...</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="newsContainer">
        <div id="newsContent" article="-1" style="display: none;">
            <div id="newsStatusContainer">
                <div id="newsStatusContent">
                    <div id="newsTitleContainer">
                        <a id="newsArticleTitle" href="#">Lorem Ipsum</a>
                    </div>
                    <div id="newsMetaContainer">
                        <div id="newsArticleDateWrapper">
                            <span id="newsArticleDate">Mar 15, 44 BC, 9:14 AM</span>
                        </div>
                        <div id="newsArticleAuthorWrapper">
                            <span id="newsArticleAuthor">by Cicero</span>
                        </div>
<!--                        <a href="#" id="newsArticleComments">0 Comments</a>-->
                    </div>
                </div>
                <div id="newsNavigationContainer">
                    <button id="newsNavigateLeft">
                        <svg id="newsNavigationLeftSVG" viewBox="0 0 24.87 13.97">
                            <defs>
                                <style>.arrowLine{fill:none;stroke:#FFF;stroke-width:2px;transition: 0.25s ease;}</style>
                            </defs>
                            <polyline class="arrowLine" points="0.71 13.26 12.56 1.41 24.16 13.02"/>
                        </svg>
                    </button>
                    <span id="newsNavigationStatus">1 of 1</span>
                    <button id="newsNavigateRight">
                        <svg id="newsNavigationRightSVG" viewBox="0 0 24.87 13.97">
                            <defs>
                                <style>.arrowLine{fill:none;stroke:#FFF;stroke-width:2px;transition: 0.25s ease;}</style>
                            </defs>
                            <polyline class="arrowLine" points="0.71 13.26 12.56 1.41 24.16 13.02"/>
                        </svg>
                    </button>
                </div>
            </div>
            <div id="newsArticleContainer">
                <div id="newsArticleContent">
                    <div id="newsArticleContentScrollable">
                        <!-- Article Content -->
                    </div>
                </div>
            </div>
        </div>
        <div id="newsErrorContainer">
            <div id="newsErrorLoading">
                <span id="nELoadSpan" class="newsErrorContent">Recherche d'actualités...</span>
            </div>
            <div id="newsErrorFailed" style="display: none;">
                <span id="nEFailedSpan" class="newsErrorContent">Impossible de charger les actualités</span>
                <button id="newsErrorRetry">Ré essayer</button>
            </div>
            <div id="newsErrorNone" style="display: none;">
                <span id="nENoneSpan" class="newsErrorContent">Pas d'actualités</span>
            </div>
        </div>
    </div>
    <script src="./assets/js/scripts/landing.js"></script>
</div>